!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
**/.terraform/*
*.env
*.log
*.pid
*.pid.lock
*.seed
*.tfstate
*.tfstate.*
*.tfvars
*.tgz
*_override.tf
*_override.tf.json
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fusebox/
.grunt
.history
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless/
.vscode/*
.vuepress/dist
.yarn-integrity
Icon
Network Trash Folder
Temporary Items
bower_components
bower_components/
build/
build/Release
coverage
crash.log
dist/
jspm_packages/
lerna-debug.log*
lib-cov
logs
my-tests/
node_modules/
npm-debug.log*
override.tf
override.tf.json
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
yarn-debug.log*
yarn-error.log*
